.dashboard-container
{
    width: 85%;
    height: 650px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    border-style: dotted;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    border-style: dashed;
    
}
.cell1{
    margin: 30px;
    width: 50%;
}
.cell2{
    margin: 30px;
    width: 15%;
}
.cell3{
    margin: 30px;
    width: 35%;
}
.cell4{
    margin: 30px;
    width: 20%;
}
.cell5{
    margin: 30px;
    width: 45%;
}
.cell6{
    margin: 30px;
    width: 20%;
}
.cell7{
    margin: 30px;
    width: 15%;
}
.cell8{
    margin: 30px;
    width: 10%;
}
.cell9{
    margin: 30px;
    width: 30%;
}
.cell10{
    margin: 30px;
    width: 30%;
}
.cell11{
    margin: 30px;
    width: 10%;
    margin-right: 100px;
}
